<div class="container-sidebar">
    <h2 class="title" >Cocktail's store</h2>
    <hr>
    <ul class="list-group">
        <li class="list-group-item"
         routerLink="" 
         routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact:true }"
         >
            all cocktail
        </li>
    
        <li class="list-group-item"
         routerLink="category" 
         routerLinkActive="active"
         >
            Search by ingredients
        </li>
    
        <li class="list-group-item"
        routerLinkActive="active"
         routerLink="vodka"
          >
          Select clicking name
        </li>
    </ul>  
</div>
